@media only screen and (min-width: 431px)and (max-width: 1023px){ 
    .centerdiv .text1{
       
        left: 45%;
        top:45%
    }
 
    .text2{
       
        left: 35%;
        top: 65%;
    }  
    .text3{
        font-size: 10px;
        left: 25%;
        top: 92%;
        
    } 
   .shaper,.arrows{
display: none;
    }
    .learnbutton{
        margin-top: 65px;
        padding: 7px 16px;
        font-size: 8px;
        left: 50%;
        top: 90%;
    }
  
    .navigationbar{
     display: block;
    }
    .nbleft{
        margin-left: 40%;
        margin-bottom: 3%;
    }
    .logo{
     height: 22px;
   
 
    }
    .nbcenter {
        margin: 10px 10%;
        display: flex;
        align-items: center;
    }
    .nbtext, .nbtext1{
        font-size: 14px;
        margin-bottom: 3px;
    }
    .hoverdots, .hoverdots1{
        display: none;   
    }
    .nbright{
    margin-top: 0;
    margin-left: 42%;
    position: relative;
    }
    .contactbutton{
        margin-top: 6%;
        position: absolute;
        left: 0;
       padding: 8px 22px;
        font-size: 14px;  
     }
    .whatsappicon{
    display: none; }
    hr{
        height: 110px;
    }
    .page2{
        margin: 10% 10%;
        display: grid;
        grid-template-rows: 500px 500px;
        grid-template-columns: 100%;
        row-gap: 30px;
        margin-bottom: 0;
    }
    .background{
        width: 90%;
        height: 70%;
    }
    .aboutdiv{
        background-size: 100% 100%;
    }
    
   .p1{
    font-size: 19px;
    text-align: center;
   }
   .p2{
    font-size: 30px;
    line-height: 38px;
    text-align: center;
   }
   .p3{
    margin-left: 8%;
    font-size: 18px;
    line-height: 22px;

   }
   .arrowicon{
    margin-left: 8%;
    margin-top: 20px;
   }
   .arrow{
    margin: 4px;
   }
   .p4{
    font-size: 18px;
    line-height: 22px;
   }
   .learnbutton2{
    margin-top: 8%;
    margin-left: 8%;
    padding: 10px 25px;
    font-size: 20px;
   }
   .page3{
    margin: 0;
   }
   .headpage3{
    margin-top: 0;
    font-size: 24px;
    line-height: 28px;
   }
   .page3boxes{
    display: grid;
    margin: 0px 5%;
    grid-template-rows: 250px 250px ;
    grid-template-columns: 300px 300px ;
    row-gap: 30px;
   }

   .page4grid{
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 300px 300px 300px 300px ;
   }
   .quote5{
    margin: 10px ;
    font-size: 30px;
   }
 
   .page5div{
    top: 38%;
   } 
   .page6div{
    margin: 50px 8%;
   }
   .page6text{
    font-size: 19px;
   }
   .page6text .fa-solid{
  display: none;
   }
.workimg{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 410px 300px 300px 300px;
    margin: 0 10%;
}
.workimg div img{
width: 100%;
height: 100%;

}
.work1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
} 
.work2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.work3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.work4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.work5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.work6{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
} 
 
.pricetag{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 480px 550px 480px;
    row-gap: 40px;
    margin: 0 18%;
    padding: 0 14%;
}
.pricetag hr{
    height: 38px;
}
.page8box1{
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
}
.page8box2{
    width: 114%;
    grid-row-start: 2;
    grid-row-end: 3;
}
.page8box3{
    width: 100%;
    grid-row-start: 3;
    grid-row-end: 4;
}  
.testimonial1,.testimonial2,.testimonial3,.testimonial4,
.testimonial5,.testimonial6,.testimonial7,.testimonial8{
display: none;
}
.mapdiv1{
 left: 30%;
}
.mapdiv2{
    margin: 0;
    position: absolute;
    top: 310px;
    left: 20%;
    width: 60%;
}
.client1{
    text-align: center;
}
.clientpara{
    line-height: 20px;
    font-size: 17px ;
    padding-top: 75px;
}
.david{
    margin-top: 40px;
}
.agencyblog{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 590px 590px;
} 
}  